body {
    background: #BDBDBD;
}
.tagline {
    height: 400px;
    background-image: url('../website/assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}