<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <h1 class="card-title my-1"><b>Portfolio</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <p class="card-text g-2 fs-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
                porta felis
                euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisi consectetur. Fusce dapibus, tellus ac
                cursus
                commodo.</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                        euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                        euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                        euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-5">
</div>